body {
    font-family: Helvetica;
    font-size: 1vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.notice {
    width: 30%;
}

.chromeExtensions {
    width: 20%;
}